@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using System.Text
@using System.Globalization
@model Microsoft.MecSolutionAccelerator.AlertsUI.Models.AlertDetailsModel
@{
}
@if (Model != null)
{
    var timeZone = "UTC";
    @if (HttpContextAccessor.HttpContext.Request.Cookies.ContainsKey("timezone"))
    {
        timeZone = HttpContextAccessor.HttpContext.Request.Cookies["timezone"];
    }
<img src="data:image/jpeg;base64,@Model.Frame" alt="Alert Information Image" class="alert-image">
<div class="alert-description position-relative rounded overflow-auto">
    <pre class="alert-text font-sans p-1">
<b>Alert: @Model.Id</b><br>
<b>@Model.Type</b><br>
&emsp; – Position: (@Model.Source.Lat,@Model.Source.Lon)
&emsp; - Capture Day/Time: @TimeZoneInfo.ConvertTimeFromUtc(Model.CaptureTime, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("d", CultureInfo.CurrentCulture) @TimeZoneInfo.ConvertTimeFromUtc(Model.CaptureTime, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("T", CultureInfo.CurrentCulture)
&emsp; - Alert Day/Time: @TimeZoneInfo.ConvertTimeFromUtc(Model.AlertTime, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("d", CultureInfo.CurrentCulture) @TimeZoneInfo.ConvertTimeFromUtc(Model.AlertTime, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("T", CultureInfo.CurrentCulture)
&emsp; - Detection Confidence: @Model.Accuracy%<br>
@Model.Information<br>
<strong>Execution time: @Math.Round(Model.MsExecutionTime)</strong>

@foreach (var stepTime in Model.StepTimeAsDate) {
<span>&emsp; - Step Name: @stepTime.StepName</span>
<span>&emsp; - Duration: @stepTime.StepDuration Ms</span>
<span>&emsp; - Start Time: @TimeZoneInfo.ConvertTimeFromUtc(stepTime.StepStart, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("d", CultureInfo.CurrentCulture) @TimeZoneInfo.ConvertTimeFromUtc(stepTime.StepStart, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("T", CultureInfo.CurrentCulture)</span>
<span>&emsp; - End Time: @TimeZoneInfo.ConvertTimeFromUtc(stepTime.StepStop, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("d", CultureInfo.CurrentCulture) @TimeZoneInfo.ConvertTimeFromUtc(stepTime.StepStop, TimeZoneInfo.FindSystemTimeZoneById(timeZone)).ToString("T", CultureInfo.CurrentCulture)</span>
<br>
}
    </pre>              
</div>
}
<script>
    var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    document.cookie = "timezone=" + encodeURIComponent(timezone) + "; path=/";
</script>


