@using System.Text
@model Microsoft.MecSolutionAccelerator.AlertsUI.Models.AlertDetailsModel
@{
}
@if (Model != null)
{
    <div>
        <img src="data:image/jpeg;base64,@Model.Frame" alt="Alert Information Image" class="alert-image">
    </div>
    <div class="infoBox">
            <p><b>Alert: @Model.Id</b></p><br>         
            <p><b>@Model.Type</b></p><br>         
            <p>@Model.Source.Name</p>
            <p>@Model.Source.Type</p>
            <p>@Model.Source.Lat</p>
            <p>@Model.Source.Lon</p>
            <p>@Model.Accuracy</p>
            <p>@Model.Information</p>
            <p>@Model.AlertTime</p>
            <p>@Model.StepTimes</p>
            }
    </div>
}


