@model IEnumerable<Microsoft.MecSolutionAccelerator.AlertsUI.Models.AlertReducedModel>
@{

    <div>
        <table id="alertsTable">
            <thead>
                <tr>
                    <th>Capture Time</th>
                    <th>AlertTime</th>
                    <th>Execution Time</th>
                    <th>Source</th>
                    <th>Type</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr element-id="@post.Id">
                        <td>@post.CaptureTime</td>
                        <td>@post.AlertTime</td>
                        <td>@post.MsExecutionTime</td>
                        <td>@post.Source.Name</td>
                        <td>@post.Type</td>
                        <td>@post.Information</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
